<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Department</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <form action="/add-dept" method="POST"
    class="p-5 m-10 border rounded border-purple-700" >
        <label for="dept_name">Department Name:</label><br>
        <input type="text" name="dept_name" class="border rounded border-stone-950 my-5"><br>
        
        <label for="sem">Sem :</label><br>
        <input type="text" name="sem" class="border rounded border-stone-950 my-5"><br>
        <input type="submit" class="px-4 py-1 text-sm text-purple-600 font-semibold rounded-full border border-purple-200 hover:text-white hover:bg-purple-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-offset-2"><br>
    </form>
</body>
</html>