<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://unpkg.com/htmx.org@1.9.3"
      integrity="sha384-lVb3Rd/Ca0AxaoZg5sACe8FJKF0tnUgR2Kd7ehUOG5GCcROv5uBIZsOqovBAcWua"
      crossorigin="anonymous"
    ></script>
    <link href="{{url_for('static',path='/css/app.css')}}" rel="stylesheet" />
    <title>Questions</title>
  </head>
  <body>
    <div class="p-1 text-xl w-full" id="mainbody">
      <form action="/{{topic_id}}/submit" method="POST">
        <input
          type="hidden"
          name="csrf_token"
          value="{{ request.csrf_token }}"
        />
        <div class="overflow-y-auto h-screen p-10">
          {% for question in questions %}
          <div class="bg-slate-500 text-xl text-white rounded-t-md">
            <p class="p-1">Question No: {{question.id}}</p>
            <div
              class="text-xl text-black border-2 border-gray-600 border-b-0 p-2 w-full rounded-t-md bg-white"
            >
              <p class="mb-3">{{question.content}}</p>
              {% if question.pic %}
              <img
                src="/static/image/{{question.pic}}"
                alt="Question {{question.id}}"
                width="500"
                class="p-3 mx-auto"
              />
              {% endif %}
            </div>
          </div>
          <div
            class="flex flex-col text-xl border-2 border-gray-600 p-2 rounded-b-md"
          >
            {% for option in question.options %}
            <label class="items-center mb-0.5">
              <input
                type="radio"
                name="{{question.id}}"
                class="form-radio"
                value="{{option}}"
              />
              <span class="ml-2">{{option}}</span>
            </label>
            {% endfor %}
          </div>
          <br />
          {% endfor %}
        </div>
        <input
          type="submit"
          hx-post="/{{topic_id}}/{{course_id}}/submit"
          hx-trigger="click"
          hx-swap="outerHTML"
          hx-target="#mainbody"
          class="bg-blue-600 rounded-lg text-white p-2 cursor-pointer"
        />
      </form>
    </div>
  </body>
</html>
